@import "tailwindcss";

:root{
  --background-b-color: #0D0D0D;
  --line-color: #7ED99E;
  --text-color: #F2F2F2;
  --links-color: #8C8C8C;

}

body{
  background: var(--background-b-color);
  color: var(--text-color);
}



